

.formIntro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.formstyle {
    position: relative;

    left: 450px;

}
.select-style {
    position: relative;
    left: 90px;
}

.resultStyle {
    position: relative;
    width: 200px;
    left: 550px;
}


 
.resultStyle ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.resultStyle li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.resultStyle li:last-child {
  border: none;
}
 
.resultStyle li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.resultStyle li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}